# Ignore node_modules and environment files
node_modules

# Ignore IDE specific files
.idea
.vscode
files
#Log files
logs/
*.log

# Environment files
.env
.env.local
.env.prod

# Ignore build output
dist
build
out

# Dev docker db
db_data/
redis_data/